#Ignore environment secrets
.env
#Ignore logs & temp files
*.log
*.tmp

#Maven build output
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#IntelliJ IDEA project files
.idea/
*.iml
*.iws
*.ipr

#Readme files
DATABASE_FIX_README.md
HELP.md

